@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	border: 0;
	background:none;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
a:link,a:visited{color:#fff; text-decoration:none;}
a:hover{text-decoration:none;}
.head
{
	width:100%;
	height:70px;
	margin:0 auto;
	padding:30px 0 0 0;
	background-color:#FC9;
}
.head .left
{
	float:left;
	width:300px;
	height:70px;
	margin-left:80px;
}
.head .left img
{
	width:300px;
	height:70px;	
}
.head .right
{
	float:right;
	width:300px;
	height:20px;
	color:#00F;
	margin-right:200px;
}
.titlefram
{
	width:100%;
	height:30px;
	background-color:#F96;	
}
#nav{ margin-left:210px;width:850px;
height:20px;}
#nav ul{list-style-type:none;}
#nav li{float:left; margin-left:36px;}
#nav span{display:none;}
#nav a{font-size:14px; text-decoration:none; display:block; font-weight:bold; color:#909;}
#nav a:hover{top:1px; left:1px; position:relative; color:#0FF;}
#nav a:hover span{display:block; top:-2px; position:absolute; color:#00F;}
.clearfram{clear:both;}
.footer
{
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
	background:#F65;
	color:#FFF;
}


