@charset "utf-8";
/* CSS Document */
.banner
{
	width:100%;
	height:580px;
	position:relative;
	overflow:hidden;
}
.one
{
	position: absolute;
    width:100%;
	height:580px;	
}
.banner .banner_pic .pic{display:none;}
.banner .banner_pic .current{display:block;}
.banner ol
{
	position: absolute;
	left: 466px;
	top: 523px;
	clip: rect(auto,auto,auto,-62px);
}
.banner ol .but
{
	float:left;
	width:28px;
	height:1px;
	border:1px solid #d6d6d6;
	margin-right:20px;
}
.banner ol li{cursor:pointer;}
.banner ol .current
{
	background:#90d1d5;
	float:left;
	width:28px;
	height:1px;
	border:1px solid #90d1d5;
	margin-right:20px;
}
#learn
{
	width: 980px;
	height: 480px;
    margin:0 auto 0 auto;
}
h2
{
	font-weight:100;
	font-size:24px;
	color:#585858;
	padding:40px 0;
	border-bottom:7px solid #ececec;
}
h3
{
	font-weight:100;
	font-size:24px;
	color:#F03;
	padding:5px 0;
	border-bottom:4px solid #F96;
}
#learn dl
{
	width:980px;
	height:220px;
}
#learn dt .tubiao
{
	width:145px;
	height:190px;
	float:left;
	padding-top:30px;
}
#learn dd
{
	width:780px;
	padding:20px 0 0 30px;
	float:left;
}
#learn .txt1
{
	font-size:24px;
	color:#ffa800;
}
#learn .txt2
{
	color:#6b6862;
	line-height:24px;
}
#learn .imgbox
{
	width: 940px;
	padding:0 20px;
	white-space: nowrap;
	overflow: hidden;
}
#learn .imgbox img
{
	width: 226px;
	height: 129px;
	padding: 2px;
}
#learn .imgbox a{
	margin-right: 20px;
}
#features
{
	width:980px;
	height:550px;
	margin:0 auto 0 auto;
}
.list0
{
	width:638px;
	margin-top:25px;
	float:left;
	position:relative;
}
#SwitchBigPic
{
	border:1px solid #ddd;
}
#SwitchBigPic span
{
	display:none;
}
#SwitchBigPic img
{
	width:448px;
	height:375px;
}
#SwitchBigPic .sp
{
	display:block;
}
#SwitchNav
{
	width:190px;
	position:absolute;
	top:0px;
	left:447px;
}
#SwitchNav li
{
	width:190px;
	height:125px;
	margin-bottom:1px;
}
#SwitchNav a
{
	display:block;
	width:190px;
	height:125px;
	background:url(../images/09.jpg) no-repeat;
}
#SwitchNav .txt_img2{background:url(../images/10.jpg) no-repeat;}
#SwitchNav .txt_img3{background:url(../images/14.jpg) no-repeat;}
#SwitchNav .txt_img1:hover{background:url(../images/09.jpg) no-repeat;}
#SwitchNav .txt_img2:hover{background:url(../images/10.jpg) no-repeat;}
#SwitchNav .txt_img3:hover{background:url(../images/14.jpg) no-repeat;}
.list1
{
	width:326px;
	height:375px;
	float:right;
	margin-top:25px;
}
.list1 h3
{
	width:326px;
	height:74px;
}
.list1 h3 img
{
	width:326px;
	height:74px;
}
.list1 .biaodan
{
	width:326px;
	height:200px;
}

tr{height:50px;}
td{text-align:center;}
input
{
	width:204px;
	height:28px;
	border:1px solid #d2d2d2;
}
.course
{
	widht:204px;
	height:28px;
	border:1px solid #d2d2d2;
	padding:3px 0;
}
.no-border
{
	border:none;
	width:222px;
	height:53px;
	background:url(../images/12.jpg) right top no-repeat;
	margin-top:30px;
	cursor:pointer;
}
