@charset "utf-8";
/* CSS Document */
.bodyfram
{
	width:980px;
	height:250px;
	margin:0 auto 0 auto;
	padding:20px 20px 30px 30px;
	background-color:#FFEADF;
}
#connect
{
	width:980px;
	height:200px;
	text-align:center;
}
#connect span{display:none;}
#connect a{font-size:35px; text-decoration:none; display:block; font-weight:bold; color:#00F;}
#connect a:hover{top:1px; left:1px; position:relative; color:#F60;}
#connect a:hover span{display:block; top:-2px; position:relative; color:#F00;}
.clearfram{clear:both;}
.bodyfram .tishi
{
	width:980px;
	height:30px;
	margin:0 auto 0 auto;
}
.bodyfram .tishi h1
{
	color:#F0F;
	font-size:24px;
	text-align:center;
}

